*.pdf
*.html
.Rhistory
*.csv
*.dat
*.dat_output
*.png
*.RData
*lock*
*.RDS
*.bin
*.aux
*.log
*.synctex.gz
*.out

extrapolate_sigma/old_results/*
extrapolate_sigma/old_scripts/*
Z_corr/plots/*
error_covmatrix/*


commandsR.txt
